<template>
    <q-page class="flex flex-center">
        <!--    <img alt="Quasar logo" src="../assets/logo.png">-->
        <div class="q-pa-md">
            <q-table
                    class="my-sticky-virtscroll-table"
                    virtual-scroll
                    table-style="max-height: 400px"
                    :pagination.sync="pagination"
                    :rows-per-page-options="[0]"
                    :virtual-scroll-sticky-size-start="48"
                    row-key="index"

                    title="Treats"
                    :data="data"
                    :columns="columns"
            />
        </div>


    </q-page>
</template>

<script lang="ts">

    import Vue from "vue"
    import Component from "vue-class-component"

    const seed = [
        {
            name: 'Frozen Yogurt',
            calories: 159,
            fat: 6.0,
            carbs: 24,
            protein: 4.0,
            sodium: 87,
            calcium: '14%',
            iron: '1%'
        },
        {
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3,
            sodium: 129,
            calcium: '8%',
            iron: '1%'
        },
        {
            name: 'Eclair',
            calories: 262,
            fat: 16.0,
            carbs: 23,
            protein: 6.0,
            sodium: 337,
            calcium: '6%',
            iron: '7%'
        },
        {
            name: 'Cupcake',
            calories: 305,
            fat: 3.7,
            carbs: 67,
            protein: 4.3,
            sodium: 413,
            calcium: '3%',
            iron: '8%'
        },
        {
            name: 'Gingerbread',
            calories: 356,
            fat: 16.0,
            carbs: 49,
            protein: 3.9,
            sodium: 327,
            calcium: '7%',
            iron: '16%'
        },
        {
            name: 'Jelly bean',
            calories: 375,
            fat: 0.0,
            carbs: 94,
            protein: 0.0,
            sodium: 50,
            calcium: '0%',
            iron: '0%'
        },
        {
            name: 'Lollipop',
            calories: 392,
            fat: 0.2,
            carbs: 98,
            protein: 0,
            sodium: 38,
            calcium: '0%',
            iron: '2%'
        },
        {
            name: 'Honeycomb',
            calories: 408,
            fat: 3.2,
            carbs: 87,
            protein: 6.5,
            sodium: 562,
            calcium: '0%',
            iron: '45%'
        },
        {
            name: 'Donut',
            calories: 452,
            fat: 25.0,
            carbs: 51,
            protein: 4.9,
            sodium: 326,
            calcium: '2%',
            iron: '22%'
        },
        {
            name: 'KitKat',
            calories: 518,
            fat: 26.0,
            carbs: 65,
            protein: 7,
            sodium: 54,
            calcium: '12%',
            iron: '6%'
        }
    ]

    // we generate lots of rows here
    let data: any = []
    for (let i = 0; i < 10000; i++) {
        data = data.concat(seed.slice(0).map(r => ({...r})))
    }
    data.forEach((row: any, index: any) => {
        row.index = index
    })

    // we are not going to change this array,
    // so why not freeze it to avoid Vue adding overhead
    // with state change detection
    Object.freeze(data)

    @Component
    export default class HelloWorld extends Vue {

        data: any = data

        pagination: any = {
            rowsPerPage: 0
        }

        columns: any = [
            {
                name: 'index',
                label: '#',
                field: 'index'
            },
            {
                name: 'name',
                required: true,
                label: 'Dessert (100g serving)',
                align: 'left',
                field: (row: any) => row.name,
                format: (val: any) => `${val}`,
                sortable: true
            },
            {name: 'calories', align: 'center', label: 'Calories', field: 'calories', sortable: true},
            {name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true},
            {name: 'carbs', label: 'Carbs (g)', field: 'carbs'},
            {name: 'protein', label: 'Protein (g)', field: 'protein'},
            {name: 'sodium', label: 'Sodium (mg)', field: 'sodium'},
            {
                name: 'calcium',
                label: 'Calcium (%)',
                field: 'calcium',
                sortable: true,
                sort: (a: any, b: any) => parseInt(a, 10) - parseInt(b, 10)
            },
            {
                name: 'iron',
                label: 'Iron (%)',
                field: 'iron',
                sortable: true,
                sort: (a: any, b: any) => parseInt(a, 10) - parseInt(b, 10)
            }
        ]

    }
</script>

<style lang="scss">
    .my-sticky-virtscroll-table {
        /* max height is important  */
        .q-table__middle {
            max-height: 200px;
        }


        .q-table__top,
        .q-table__bottom,
        thead tr:first-child th { /* bg color is important for th; just specify one */
            background-color: #fff;
        }

        thead tr th {
            position: sticky;
            z-index: 1; /* this will be the loading indicator */
        }

        thead tr:last-child th {
            /* height of all previous header rows */
            top: 48px;
        }

        thead tr:first-child th {
            top: 0;
        }
    }
</style>