<template>
    <q-layout view="lHh Lpr lFf">
        <q-header elevated class="glossy">
            <q-toolbar>
                <q-btn
                        flat
                        dense
                        round
                        @click="leftDrawerOpen = !leftDrawerOpen"
                        aria-label="Menu"
                        icon="menu"
                />

                <q-toolbar-title>
                    Quasar App
                </q-toolbar-title>
                <q-btn
                        flat
                        dense
                        round
                        @click="onClick()"
                        aria-label="BTN"
                        icon="menu"
                />
                <div>Quasar v{{ $q.version }}</div>
            </q-toolbar>
        </q-header>

        <q-drawer
                v-model="leftDrawerOpen"
                show-if-above
                bordered
                content-class="bg-grey-2"
        >
            <q-list>
                <q-item-label header>Essential Links</q-item-label>
                <q-item clickable tag="a" target="_blank" href="https://quasar.dev">
                    <q-item-section avatar>
                        <q-icon name="school"/>
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>Docs</q-item-label>
                        <q-item-label caption>quasar.dev</q-item-label>
                    </q-item-section>
                </q-item>
                <q-item clickable tag="a" target="_blank" href="https://github.com/quasarframework/">
                    <q-item-section avatar>
                        <q-icon name="code"/>
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>Github</q-item-label>
                        <q-item-label caption>github.com/quasarframework</q-item-label>
                    </q-item-section>
                </q-item>
                <q-item clickable tag="a" target="_blank" href="https://chat.quasar.dev">
                    <q-item-section avatar>
                        <q-icon name="chat"/>
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>Discord Chat Channel</q-item-label>
                        <q-item-label caption>chat.quasar.dev</q-item-label>
                    </q-item-section>
                </q-item>
                <q-item clickable tag="a" target="_blank" href="https://forum.quasar.dev">
                    <q-item-section avatar>
                        <q-icon name="forum"/>
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>Forum</q-item-label>
                        <q-item-label caption>forum.quasar.dev</q-item-label>
                    </q-item-section>
                </q-item>
                <q-item clickable tag="a" target="_blank" href="https://twitter.com/quasarframework">
                    <q-item-section avatar>
                        <q-icon name="rss_feed"/>
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>Twitter</q-item-label>
                        <q-item-label caption>@quasarframework</q-item-label>
                    </q-item-section>
                </q-item>
            </q-list>
        </q-drawer>

        <q-page-container>
            <HelloWorld/>
            <div>PAGE</div>
        </q-page-container>
    </q-layout>
</template>

<script lang="ts">
    import HelloWorld from './components/HelloWorld.vue'
    import {ipcRenderer} from 'electron'
    import Vue from "vue"
    import Component from "vue-class-component"


    @Component({
        components: {HelloWorld}
    })
    export default class LayoutDefault extends Vue {
        leftDrawerOpen: boolean = false


        onClick() {

            ipcRenderer.send('channel', 'value')

            // eslint-disable-next-line no-console
            console.info('as')
        }


    }
</script>

<style>
</style>
