<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--    <link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <title>accountant_system</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but accountant_system doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
<!--    <h1>TEXT</h1>-->
    <div id="app"></div>

<!--     built files will be auto injected -->
    <script src="./index.ts"></script>
  </body>
</html>
